body{
  background-color: #F5F5F5;
  font-family: 'Roboto';
  padding: 15px;
  margin: 30px;
}

.header-divider{
  margin-top: 17px;
}

.menu-options Button{
 background-color: #6BA13C;
 margin: 5px;
 text-transform: none;
}

.menu-options Button:hover{
  background-color: #6BA13C;
 }

.menu-options a{
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
 }

 .site-name a{
   color: #6BA13C;
   font-size: 28px;
   font-weight: 600;
   text-decoration: none;
 }

 .home-body{
   margin-top: 100px;
}

.adoption-body h3{
  font-size: 25px;
}

.adoption-body Input{
  width: 350px;
}

.adoption-body .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  margin-top: 6px;
}

.adoption-body Button{
  margin: 20px;
  background-color: #6BA13C;
}

.adoption-body Button:hover{
  background-color: #6BA13C;
}

 .welcome-title{
   font-size: 28px;
   font-weight: 600;
   color: #6BA13C;
   margin-bottom: 10px;
 }

 .description{
  text-align: justify;
  text-justify: inter-word;
 }

 .home-image img{
   height: 200px;
   width: auto;
   border-radius: 100%;
   margin-top: -30px;
   margin-left: 30px;
 }
 
